h1 {
  text-align: center;
}

.buttonContainer {
  text-align: center;
  padding-bottom: 15px;
}

.startGameBtn {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all 0.1s;
}

.startGameBtn:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
}

.containerGrid {
  display: flex;
  flex-direction: column; /* Organize rows in a column */
  align-items: center; /* Center the row containers */
  gap: 10px; /* Space between rows */
  border: solid black;
  padding: 10px;
  height: 70vh;
  width: 70vw;
  margin: 2% auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items in the row */
  align-items: center;
  gap: 10px; /* Space between cells in a row */
  width: 100%;
  height: 20%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
  width: 50%;
  height: 80%;
  background-color: #f0f0f0; /* Example background color */
  border: 1px solid #ddd; /* Example border */
  text-align: center; /* Ensure text is centered */
}

.cell:hover {
  cursor: pointer;
}

.fireworks {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.01); /* Semi-transparent black background */
}
